.home-background {
    background-image: url("./home-background-1.jpeg");
    background-size: cover;
    padding-top: 7%;
    padding-bottom: 10%;
}

#home-dropdown {
    width: 100%;
    border-radius: 12px;
}

#slogan-all {
    border-left: 2px solid white;
}

#slogan-row {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-top: 4%;
    margin-left: 15px;
}

#sub-slogan-row {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    margin-top: 5%;
    margin-bottom: 8%;    
    margin-left: 15px;
}

.light-section-row {
    text-align: center;
    color: #061E45;
}

.light-section-intro { 
    margin-bottom: 3%;
    margin-top: 3%;
}

.capabilities-body {
    color: #708090;
}

#product-background {
    background-image: url("./home-background-2.jpeg");
    background-size: cover;
    padding-bottom: 3%;
}

.products-intro {
    color: white;
    text-align: center;
    margin-bottom: 3%;
}

#product-intro {
    margin-top: 5%;
}

.product-row{
    min-height: 200px;
}

.product-link {
    text-decoration: none;
    color: white;
    text-align: center;
}

.product-link:hover {
    color: #D0D0D0;
}

.bgOpacity {
    background: rgba(0, 0, 0, 0.0);
    opacity: 1;
    filter: grayscale(85%);
    border: none;
} 

.bgOpacity:hover {
    filter: grayscale(0%);
}

.carousel-button {
    width: 75%;
    margin-top: 10%;
}

#highlightedProduct {
    background: rgba(0, 0, 0, 0.0);
    opacity: 1;
    border: none;
}

#custom-intro {
    margin-top: 3%;
    margin-bottom: -2%;
}

#custom-list {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
    text-align: left;
}