.content {
    text-align: center;
    color: white;
}

.light-row {
    color: #1a3e9f;
}

#logo-row {
    background-image: url("./pcb3.jpg");
    padding-top: 3%;
    padding-bottom: 15%;
    background-size: cover;
}

#logo-img {
    margin-bottom: 4%;
}

#logo-text {
    font-style: italic;
}

#home-dropdown {
    margin-top: 10%;
    width: 100%;
}

#product-row {
    /* background-image: url("./home.png"); */
    background-color: Whitesmoke;
    padding-top: 3%;
    padding-bottom: 3%;
    background-repeat: no-repeat;
    color: #1a3e9f;
}

.home-header {
    margin-top: 1%;
    margin-bottom: 3%;
}

.product-link {
    text-decoration: none;
    color: black;
}


.home-description {
    margin-bottom: 10%;
}

.bgOpacity {
    background: rgba(0, 0, 0, 0.0);
    opacity: 1;
    filter: grayscale(85%);
    border: none;
} 

.bgOpacity:hover {
    filter: grayscale(0%);
}

.carousel-button {
    width: 75%;
    margin-top: 10%;
}

#highlightedProduct {
    background: rgba(0, 0, 0, 0.0);
    opacity: 1;
    border: none;
}

#background-product-row {
    margin-bottom: 2%;
}

