#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
}

#logoImg {
    height: 100px;
}

#slogan {
    /* color: #E6534E; */
    /* color: #859AAF; */
    /* color: #7DA2A9; */
    /* color: #ACBFE6; */
    /* color: #FE4A49; */
    color: #B4D0E7;
    font-size: 350%;
    font-family: 'Abril Fatface', cursive;
}

.home-header {
    margin-top: 5%;
    margin-bottom: 3%;
}

.product-link {
    text-decoration: none;
    color: white;
}

.product-link:hover {
    color: white;
}

.home-description {
    margin-bottom: 10%;
}

.bgOpacity {
    background: rgba(0, 0, 0, 0.0);
    opacity: 1;
    filter: grayscale(85%);
    border: none;
}

.bgOpacity:hover {
    filter: grayscale(0%);
}

.test-row {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    /* padding-top: 1px; */
}