/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  max-width: 100%;
  overflow-x: hidden;
}

/* This keeps space between body and footer */
/* Root is the standard id from react that is found in index.html */
#root {
  margin-bottom: 5%;
}

.asterisk {
  color: #D0342C;
  font-size: 125%;
}

.heroContainer {
  margin-bottom: 2%;
  width: 100%;
  background-repeat: no-repeat;
  min-height: 550px;
  background-size: cover;
  background-position: center center;
}

.heroHeading {
  text-align: center;
  margin-top: 3%;
  color: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 6px;
  font-size: 70px;
}

.heroBody {
  border: 1px solid white;
  color: white;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  margin-top: 2.5%;
  text-align: center;
}

.heroText {
  line-height: 150%;
  font-weight: 400;
}