.hti-footer {
  color: white;
  text-align: center;
  position: relative;
  /* position: absolute; */
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 150px;
}

.socialMedia {
  margin-left: 5%;
  color: white;
}





