.hti-footer {
  color: white;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

/* .footer-space {
  min-height: 55px;
  background-color: white;
  border: 1px solid red;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
} */

.footerSpace {
  margin-top: "10%";
}
